### Summary of Datasets

Below is a brief summary of all of the datasets that we used to conduct analysis for this project.

#### (1) Larvae Dataset

Contains information on, time (year),location (latitude/longitude), and the amount (in pounds) of larvae caught. The catch data is sorted by larvae species.

The dataset is very sparse, since the majority of cruises caught zero pounds of a given larvae species. Scroll through and see just how many types of fish there are, and how few are caught per cruise!

In [3]:
import pandas as pd
pd.read_csv('data/Fishlarvaldata_Capstone_2021_FromAndrewThompson_updated 1804 1904 1507 1607 1601 1704 1604 1501 1407 1311 ichthyoplankton by line and station.csv')

,Unnamed: 0,unique.code,S_C,S_SC,S_L,S_S,longitude,latitude,year,season,...,Cyclopteridae1,Paralabrax1,Sciaenidae1,Labridae1,Chiasmodon1,Clinidae1,Hypsoblennius1,Gobiidae1,Citharichthys1,Pleuronichthys1
0,11491,76.7 49 1904 RL,1904,RL,76.7,49.0,-120.776667,35.086667,2019,spring,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
1,11492,76.7 51 1904 RL,1904,RL,76.7,51.0,-120.915000,35.021667,2019,spring,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
2,11493,76.7 55 1904 RL,1904,RL,76.7,55.0,-121.196667,34.890000,2019,spring,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
3,11494,76.7 60 1904 RL,1904,RL,76.7,60.0,-121.551667,34.720000,2019,spring,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
4,11495,76.7 70 1904 RL,1904,RL,76.7,70.0,-122.245000,34.390000,2019,spring,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11651,11173,93.3 50 5101 CR,5101,CR,93.3,50.0,-118.951667,32.153333,1951,winter,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
11652,11174,93.3 60 5101 CR,5101,CR,93.3,60.0,-119.675000,31.831667,1951,winter,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
11653,11175,93.3 70 5101 CR,5101,CR,93.3,70.0,-120.250000,31.546667,1951,winter,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.59,0.0
11654,11176,93.3 80 5101 CR,5101,CR,93.3,80.0,-120.918333,31.201667,1951,winter,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0
11655,11177,93.3 90 5101 CR,5101,CR,93.3,90.0,-121.585000,30.831667,1951,winter,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0

#### (2) Commercial Fishery Dataset

Contains information on time (year/month), location (latitude/longitude), amount of fish caught (pounds), and the price-per-pound of that fish in the given catch year (dollars).

Due to data privacy rules, some of the information relating to price-per-pound and pounds caught are redacted.

In [6]:
fishery_updated = pd.read_csv('data/2232021_SummaryByQuarter_blockgrouping_87-20_210223_Redacted.csv')

cleaned_fishery = fishery_updated.dropna(how='any')
cleaned_fishery = cleaned_fishery[cleaned_fishery['Total Price'] != ' ']


cleaned_fishery

,Year,Quarter,GroupBlocks,Species ID,Species Name,Pounds,Total Price
0,1987,Qtr 1,1032.0,40.0,Yellowtail,256.0,$272
3,1987,Qtr 2,1032.0,40.0,Yellowtail,1710.0,"$1,511"
5,1987,Qtr 2,1034.0,40.0,Yellowtail,1417.0,"$1,177"
6,1987,Qtr 2,1035.0,40.0,Yellowtail,6457.0,"$6,267"
8,1987,Qtr 2,600.0,40.0,Yellowtail,3071.0,"$2,644"
...,...,...,...,...,...,...,...
4485,2020,Qtr 2,500.0,110.0,"Anchovy, northern",591339.0,"$21,869"
4486,2020,Qtr 2,600.0,110.0,"Anchovy, northern",118988.0,$81
4490,2020,Qtr 3,500.0,110.0,"Anchovy, northern",1274842.0,"$64,161"
4495,2020,Qtr 4,500.0,110.0,"Anchovy, northern",2000431.0,"$100,537"
4503,2020,Qtr 4,600.0,467.0,Opah,1754.0,"$1,896"

#### (3) Block Grouping Dataset

(insert info about block grouping dataset here)

In [ ]:
 ## To Do: Add block data set